body {
    font-family: 'Inter', sans-serif;

    margin: 0;
    padding: 0;
}

.ctr {
    font-size: 16.5px;
    margin: auto;
    padding: 3px;
    text-align: right;
    padding-right: 40px;

    color: white;
    background-color: #1a7151;
}

nav img {
    width: 150px;
}

nav a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

    color: #a7aeb0;
}

nav a:hover {
    font-weight: bold;

    color: black;
}

nav ul {
    display: inline-flex;
    align-items: center;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: white;
    padding: 5px;
    box-shadow: 0 4px 2px -2px #dddddd;
}

.jwr img {
    width: 60%;
    gap: 10px;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;

}

.dot-primary {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #1a7151;
    border: 2px solid #1a7151;
    border-radius: 50%;
    display: inline-block;
}

.dot-secondary {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #ffffff;
    border: 2px solid #1a7151;
    border-radius: 50%;
    display: inline-block;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #1a7151;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.jws {
    font-size: 20px;
    font-weight: bold;
    color: #1a7151;
    text-align: center;
}

.mk {
    font-size: 20px;
    font-weight: bold;
    color: #1a7151;
    text-align: center;
}

.container {
    padding: 20px;
    text-align: center;
}

.card {
    display: inline-block;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px #dddddd;
    margin: 50px;
    padding: 15px;
    width: 200px;
}

.card img {
    width: 200px;
    border-radius: 8px;
    margin: auto;
    align-content: center;
}